<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <name>Favorites</name>
</head>
<body>
<div th:replace="fragments/header :: mmenu"></div>
<div th:replace="fragments/search :: ssearch"></div>

<div class="gifs container">
    <div class="row">
        <table>
            <th:block th:each="gif : ${gifs}">
                <tr>
                    <td class="memCell">
                        <div th:text="${gif.author}"></div>
                        <div class="imageCell"><img th:src="@{${'/gifs/' + gif.file +'.gif'}}"/></div>
                        <div th:text="${gif.comment}"></div>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>